*{
    margin: 0%;
    padding:0%;
}
html,body{
    height:100%;
    width: 100%;
}
#main{
    height:100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    position:absolute;
    height: 300px;
    width: 230px;
    border:1px solid salmon;
    border-radius:20px ;
    background-color: salmon;
    overflow: hidden;
   
}
#card1{
    z-index:4;
    rotate: -8deg;
    
}
#card2{
    z-index:3;
    rotate: -8deg;
    background-color: blue;
}
#card3{
    z-index:2;
    background-color: rgb(126, 20, 143);
    rotate: -16deg;
}
#card4{
    z-index:1;
    background-color:red;
    rotate: -24deg;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#card1:hover{
    z-index: 20;
}
 #card2:hover{
    z-index: 20;
}
#card3:hover{
    z-index: 20;
}
#card4:hover{
    z-index: 20;
}